<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="navSup">
            <div class="icons">
                <i class="fas fa-bars fa-2x"></i>
                <i class="fas fa-search fa-2x"></i>
            </div>

            <img src="../public/images/logo.png" alt="">

            <div class="icons">
                <i class="fas fa-user fa-2x"></i>
                <i class="fas fa-shopping-bag fa-2x"></i>

            </div>
        </div>
        <div id="navInf">
            <a class="link" href="">Beard care</a>
            <a class="link" href="">Hair care</a>
            <a class="link" href="">Skin care</a>
            <a class="link" href="">Acessories</a>
            <a class="link" href="">Equipment</a>
        </div>
    </header>
    <section class="section_bestSellers">
        
        teste
    </section>
</body>
</html>